#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
gen/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.refactorings
.settings/
.loadpath
lint.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Windows Store app package directory
AppPackages/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store