<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnielfe.manager"
    android:installLocation="auto"
    android:versionCode="24"
    android:versionName="1.8.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme"
        android:windowSoftInputMode="adjustPan" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".DirectoryInfo"
            android:label="@string/dir_info" >
        </activity>
        <activity
            android:name=".InfoDialog"
            android:label="@string/details"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name=".AppManager"
            android:icon="@drawable/appmanager"
            android:label="@string/appmanager" >
            <intent-filter>
                <action android:name="android.intent.action.APPBACKUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.dnielfe.utils.SearchSuggestions"
            android:authorities="com.dnielfe.manager"
            android:exported="false" />
        <provider
            android:name="com.dnielfe.utils.Bookmarks"
            android:authorities="com.dnielfe.manager.bookmarks"
            android:exported="false" >
        </provider>
    </application>

</manifest>